* {
    padding: 0;
    margin: 0;
}

body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.navbar_links {
    display: flex;
    column-gap: 20px;

}

.navbar_links a {
    text-decoration: none;
    color: #1d232c;

}

.navbar_links a:hover {
    text-decoration: underline;
    color: black;
}

.navbar_menu_toggle {
    display:none;

}
.side_navbar {
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 3s;
    
}
.side_navbar_links {
    margin-bottom: 30px;
}
.side_navbar_link a{
    text-decoration: none;
    color: white;
}
.side_navbar_link a:hover{
    text-decoration: underline;
}
/* header */
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    color:aliceblue;
    cursor: pointer;
}
/* service */
.service{
    padding: 20px;

}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2>div{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}
.New-arrival{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;

}
.new-arrival-container>button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: black;
    position: absolute;
    top:50%;
    left:18%;
    border-radius: 10px;
    border: none;
}
/* news */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.search{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;

}
.news button{
    margin-top: 10px;
    color:aliceblue;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
/* footer */
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: darkcyan;
    color: whitesmoke;
}
/* product section */
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 3px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    
}
.product-search >input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search >input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;


}
.products-box image{
    border-radius: 10px;
    
}














/* media screen */
@media screen and (max-width:700px) {
    .navbar_menu_toggle {
        display:block;
    }
    .navbar_links {
        display:none;
    }
    .header-img{
        flex-direction: column;
    }
    .service-container-1{
        display: none;
    
    }  
    .service-container-2{
        flex-direction: column;
    } 
}